<div class="container mt-3">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h4>Create Goal</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="goalForm">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class=" mb-3">
                                        <label for="goalName">Goal Name <sup>*</sup></label>
                                        <input type="text" class="form-control" formControlName="goalName" id="goalName"
                                            placeholder="Goal Name" appOnlychar required>
                                            <div *ngIf="goalForm.get('goalName')?.touched">
                                                <small class="text-danger " *ngIf="goalForm.get('goalName')?.errors?.['required']">Goal Name is required</small>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <label for="description">Goal Description <sup>*</sup></label>
                                        <textarea class="form-control" formControlName="description" id="description"
                                            rows="4" placeholder="Goal Description" required></textarea>
                                        <div *ngIf="goalForm.get('description')?.touched">
                                            <small class="text-danger " *ngIf="goalForm.get('description')?.errors?.['required']">Goal description is required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label for="description">Start Date<sup>*</sup></label>
                                        <input type="date" class="form-control" formControlName="startDate"
                                            id="startDate" required>
                                        <div *ngIf="goalForm.get('startDate')?.touched">
                                            <small class="text-danger " *ngIf="goalForm.get('startDate')?.errors?.['required']">Start date is required</small>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="description">End Date <sup>*</sup></label>
                                        <input type="date" class="form-control" formControlName="endDate" id="endDate"
                                            required>
                                        <div *ngIf="goalForm.get('endDate')?.touched">
                                            <small class="text-danger " *ngIf="goalForm.get('endDate')?.errors?.['required']">End date is required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header bg-success text-white">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5>Milestones</h5>
                                            <button type="button" class="btn btn-primary" (click)="addMilestone()">Add
                                                Milestone</button>
                                        </div>
                                    </div>
                                    <div class="card-body" id="milestoneContainer" formArrayName="milestones">
                                        @for (item of MilestonesArray.controls; track $index) {
                                        <div class="mt-3 mb-3" [formGroupName]="$index">
                                            <div class="row">
                                                <div class="mb-3">
                                                    <label for="milestoneName">Name <sup>*</sup></label>
                                                    <input type="text" id="milestoneName" class="form-control"
                                                        formControlName="milestoneName"
                                                        placeholder="Milestone Description" required>
                                                        <div *ngIf="item.get('milestoneName')?.touched">
                                                            <small class="text-danger " *ngIf="item.get('milestoneName')?.errors?.['required']">Milestone name is required</small>
                                                        </div>    
                                                </div>
                                                <div class="mb-3">
                                                    <label for="description">Description <sup>*</sup></label>
                                                    <input type="text" id="description" class="form-control"
                                                        formControlName="description"
                                                        placeholder="Milestone Description" required>
                                                        <div *ngIf="item.get('description')?.touched">
                                                            <small class="text-danger " *ngIf="item.get('description')?.errors?.['required']">Milestone description is required</small>
                                                        </div> 
                                                </div>
                                                <div class="mb-3">
                                                    <label for="targetDate">Target Date <sup>*</sup></label>
                                                    <input type="date" id="targetDate" class="form-control"
                                                        formControlName="targetDate" required>
                                                        <div *ngIf="item.get('targetDate')?.touched">
                                                            <small class="text-danger " *ngIf="item.get('targetDate')?.errors?.['required']">target date is required</small>
                                                        </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-danger"
                                                (click)="removeMilestone($index)">Remove</button>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary mt-1" [disabled]="!goalForm.valid" (click)="saveGoal()">Save Goal
                            </button>
                        <button class="btn btn-danger mt-1 mx-2"  (click)="resetForm()">Cancel
                        </button>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>